@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    background: grey;
}    


* {
    box-sizing: border-box;
}

h1, h3 {
    font-weight: 400;
}

.weather-app {
    background-image: url(images/day/cloudy.jpg);
    background-position: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    transition: 500ms;
    opacity: 1;
}

.weather-app::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(0, 0, 0,0.3); */
    z-index: 0;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em 3em 4em 3em;
}

.container > div {display: flex;justify-content: center;align-items: center;}

.city-time, .temp, .weather {
    margin: 0 1em;

}

.city-time h1 {
    margin: 0;
    font-size: 5em;
}

.condition {
    font-size: 1em;
    margin-left: 9px;
}

.temp {
    font-size: 7em;
    margin: 0;
}

.weather img {
    display: block;
    margin: 0.5em 0;
}

.panel {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgb(110, 110, 110, 0.25);
    box-shadow: 0 8px 6px 0px;
    backdrop-filter: blur(10px);
    z-index: 1;
    padding: 3em 2em;
    overflow-y: scroll;
}

.panel form {
    margin-bottom: 3em;
}

.submit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5em;
    margin: 0;
    border: none;
    outline: none;
    background: orange;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
}

.submit:hover {
    background: white !important;
    color: black;
}

.search {
    background: none;
    border: none;
    border-bottom: 1px white solid;
    padding: 0 1em 0.5em 0;
    width: 80%;
    color: white;
    font-size: 1.1em;
}

.search:focus {
    outline:none;
}

.search::placeholder{
    color: #ccc;
}

.panel ul {
    padding: 0 0 1em 0;
    margin: 2em 0;
    border-bottom: 1px #ccc solid;
}

.panel ul li {
    color: #ccc;
    margin: 4.5em 0;
}

.panel ul h4 {
    margin: 3em 0;
}

.city {
    display: block;
    cursor: pointer;
}

.city:hover{
    color: white;
}

.details li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

